name: Generate a new release from the commit in test_workflow_dispatch_source
on: [workflow_dispatch, push]
jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # - name: Checkout test_workflow_dispatch_source
      #   uses: snow-actions/sparse-checkout@v1.2.0
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     repository: s0nerik/test_workflow_dispatch_source
      #     filter: blob:none

      - name: Get current time
        uses: josStorer/get-current-time@v2.0.2
        id: current-time

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          tag: 'v${{ github.run_number }} (${{ steps.current-time.outputs.time }})'
